<div *ngIf="lengthItems == 0">
  <h1 class="text-center">
    !No se encontraron circulares!
  </h1>
</div>

<div *ngIf="lengthItems !== 0">
  <h1 class="text-center mb-3" *ngIf="lengthItems === 1">
    {{ lengthItems }} Circular
  </h1>

  <h1 class="text-center mb-3" *ngIf="lengthItems > 1">
    {{ lengthItems }} Circulares
  </h1>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of images">
      <div class="mx-auto" id="gallery">
        <div class="flex items-center justify-center my-4">
          <div class="w-full">
            <div class="bg-white shadow-xl rounded-lg overflow-hidden position-relative">
              <div class="bg-cover bg-center h-56 p-4" [ngStyle]="{'background-image': 'url(' + item.payload.doc.data().url + ')'}">
                <div class="ctn-icons">
                  <i class="fa fa-camera icon-view" title="Ver Circular" (click)="verCircular($event)"></i>
                  <i class="fa fa-camera icon-view" style="visibility: hidden;"></i>
                </div>
              </div>

              <div class="p-4">
                <p class="uppercase tracking-wide text-sm font-bold text-gray-700">
                  {{ item.payload.doc.data().title ? item.payload.doc.data().title : 'Sin Título' }}
                </p>

                <p class="text-gray-700">
                  {{ item.payload.doc.data().desc ? item.payload.doc.data().desc : 'Sin Descripción' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-lightbox" class="modal-lightbox" (click)="cerrarModalClickFuera($event)">
	<div class="ctn-modal-lightbox" (click)="stopPropagation($event)">
		<div id="close-modal-lightbox" class="close-modal-lightbox" (click)="closeModal()">
			<i class="fa fa-times"></i>
		</div>

		<div class="modal-lightbox-body">
			<img>
		</div>
	</div>
</div>